<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="19.2.0.49" targetFramework="net461" />
  <package id="Syncfusion.DocIO.WinForms" version="19.2.0.49" targetFramework="net461" />
  <package id="Syncfusion.DocToPDFConverter.WinForms" version="19.2.0.49" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="19.2.0.49" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base" version="19.2.0.49" targetFramework="net461" />
  <package id="Syncfusion.Pdf.WinForms" version="19.2.0.49" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net461" />
</packages>